* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

section p {
    text-indent: 20px;
}


/* Styles for elements in the header. */

header {
    margin-left: 15%;
	
}

header ul {
    vertical-align: middle;
    list-style: none;
	
}

header li {
    float: left;
}

.centered {
    margin-left: 4%;
    margin-right: 4%;
    font-family: 'Dosis', sans-serif;
}

.centered h1 {
    font-size: 400%;
    text-align: center;
}

.centered h2 {
    font-size: 300%;
    text-align: center;
}

/*Styles for the Navigation Bar*/
#nav_menu {
	clear: left;
	border-bottom: 6px solid #4D2B1F;
    background-color: #709ab1;
	margin-bottom: 2%;
	margin-top: 2%;
	
}
#nav_menu ul {
	list-style: none;
	position: relative;
	
	
}
#nav_menu ul li {
	float: left;
	margin-left: 18%;

}


#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 160px;
	padding: .7em 0;
	text-decoration: none;

	color: black;
}
#nav_menu ul li a.current {
	font-weight: bold;
	color: #e65017;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: #4D2B1F;
	color: white;
}

/*Styles for the section*/
iframe{
    margin-bottom: 2%;
}

section{
    margin-left: 30%;
    margin-bottom: 5%;
}

/*Styles for foooter*/

table, th, td{
	 border: 2px solid #4d2b1f;
	margin-left: 40%;
	margin-bottom: 2%;
}

footer {
    clear: both;
    text-align: center;
}